
BLL_SICOB/bin/Debug/BLL_SICOB.dll
BLL_SICOB/bin/Debug/
BLL_SICOB/obj/Debug/BLL_SICOB.csproj.FileListAbsolute.txt
BLL_SICOB/obj/Debug/BLL_SICOB.dll
BLL_SICOB/obj/Debug/BLL_SICOB.pdb
BLL_SICOB/obj/Debug/Refactor/BLL_SICOB.dll
BLL_SICOB/obj/Debug/ResolveAssemblyReference.cache
DAL_SICOB/bin/Debug/DAL_SICOB.dll
DAL_SICOB/bin/Debug/DAL_SICOB.dll.config
DAL_SICOB/bin/Debug/DAL_SICOB.pdb
DAL_SICOB/bin/Debug/SoporteComun.dll
DAL_SICOB/bin/Debug/SoporteComun.pdb
DAL_SICOB/obj/Debug/DAL_SICOB.csproj.FileListAbsolute.txt
DAL_SICOB/obj/Debug/DAL_SICOB.dll
DAL_SICOB/obj/Debug/DAL_SICOB.pdb
DAL_SICOB/obj/Debug/Refactor/DAL_SICOB.dll
DAL_SICOB/obj/Debug/ResolveAssemblyReference.cache
DAL_SICOB/obj/Debug/TempPE/SicobDataSet.Designer.cs.dll
CasaCambio/bin/Debug
CasaCambio/obj
CasaCambio/publish