<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAL_SICOB.Properties.Settings.SICOBConnectionString"
            connectionString="Data Source=localhost\sql2k8;Initial Catalog=SICOB;Persist Security Info=True;User ID=sa;Password=Isssteson.2k8"
            providerName="System.Data.SqlClient" />
        <add name="DAL.Properties.Settings.SICOBConnectionString" connectionString="Data Source=localhost\sql2K8;Initial Catalog=SICOB;Persist Security Info=True;User ID=sa;Password=Isssteson.2k8"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>