<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CasaCambio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CasaCambio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <applicationSettings>
        <CasaCambio.Properties.Settings>
            <setting name="Skin" serializeAs="String">
                <value>silver.skf</value>
            </setting>
            <setting name="Sistema" serializeAs="String">
                <value>oJqpeewTJkc2eAzOl9fd/Q==</value>
            </setting>
        </CasaCambio.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <CasaCambio.Properties.Settings>
            <setting name="Caja" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Impresora" serializeAs="String">
                <value>BIXOLON SRP-350</value>
            </setting>
            <setting name="NoCopias" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="TicketPantalla" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Uusario" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="CadenaConexion" serializeAs="String">
                <value>KXhr/W1NBrA7CdLmp7NHsVVc/5tGX3lIqQkjfGT+tx29fUOrP7wCC6jxB9JR/LHyvkl5XvigHXOAecv9BR/ov+MrWTCBPIhZ4Bf/7nQmDhR0gS9Tud7kYfO4PC0Yv05z8eRBjGsJu2PKbM6E4Deky+Bx3MqmoKoc89x2CTdskhA=</value>
            </setting>
        </CasaCambio.Properties.Settings>
    </userSettings>
</configuration>